.app {
  text-align: center;
  margin: 2rem auto;
  width: 80rem;
  height: 65rem;
  background: #ccc;
  font-family: verdana, arial, helvetica, sans-serif;
  padding: 12px;
  .appMain{
    background: white;
    width: 100%;
    height: 100%;
    border: 5px solid rgb(99, 167, 190);
    h1{
      padding-top: 20px;
    }
    .container{
      .row{
        .col{
          form{
            .form-group.form1{
              display: flex;
              justify-content: space-around;
              margin-bottom: 20px;
              label{
                    &:focus{
                      outline: none;
                      border: 1px solid black;
                    }     
              }
              input{
                width: 20rem !important;
                outline: none;
                border: 1px solid #ccc;
                margin-left: 46px;
              }
              small{
                p{
                  transform: translate(-318px,38px);
                  color: red,

                }
              }
            }
            .form-group.form2{
              .react-datepicker-wrapper{
                width: 170px;
                .inputDate{
                  width: 104px;
                  outline: none;
                  border: 1px solid #ccc;
                  height:36px;
                }
              }
              small{
                p{
                  transform: translate(-137px,35px);
                  color: red;
                }
              }
            }
            button.btn{
              position: absolute;
              left: 132px;
              top: 118px;
            }
          }
        }
        .col.list{
          padding: 10px;
          border: 1px solid lightgreen;
          border-radius: 4px;
          height: 55rem;
          overflow-y: auto;
          .item{
            display: flex;
            justify-content: space-between;
            border: 1px solid rgb(146, 68, 68);
            margin-bottom: 10px;
            // background: rgb(209, 148, 148);
            border-radius: 4px;
            .itemRemind{
              display: flex;
              flex-direction: column;
              padding: 10px;
              justify-content: space-between;
              .item__date{
                font-weight: bold;
              }
              .item__content{
                display: flex;
                justify-content: flex-start;
              }
            }
            .itemBtn{
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
